.hero {
  position: relative;
  height: 65vh;
  width: 100%;
  display: flex;
}

.hero::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../../public/images/solar.avif");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.9;
  left: 0px;
}

/* @media screen and (min-width: 800px) {
  .hero::before {
    background-position: center;
  }
} */
